<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h1><%= title %></h1>
      </div>
    </div>

    <form>
      <div class="row">
        <div class="small-10 small-centered columns">
          <label>username
            <input type="text" name="username" />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="small-10 small-centered columns">
          <label>password
            <input type="password" name="password" />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="small-10 small-centered columns">
          <input type="submit" value="Login" />
        </div>
      </div>
    </form>
  </body>
</html>
