<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body class="dark">
    <div class="row">
      <div class="small-10 small-centered columns">
        <img class="logo-lg" src="../img/logo-o.png" alt="geodeem" />
      </div>
    </div>

    <form method="post" action="/processLogin">
      <div class="row">
        <div class="small-10 small-centered columns">
          <div class="input-group">
            <div class="has-float-label">
              <input id="username" type="text" name="username" placeholder="&nbsp;" />
              <label for="username">username</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-10 small-centered columns">
          <div class="input-group">
            <div class="has-float-label">
              <input id="password" type="text" name="password" placeholder="&nbsp;" />
              <label for="password">password</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-10 small-centered columns">
          <input type="submit" value="Log In" class="button white" />
        </div>
      </div>
    </form>
  </body>
</html>
