<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <% for (var i = 0; i < merchants.length; i++) { %>
        <div>
            <span> <h2><%= merchants[i] %> </h2></span>
            <hr>

        </div>
      <% } %>
    </div>


  </body>
</html>
