<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h1><%= title %></h1>
      </div>
    </div>

    <div class= "row">
      <div class=="small-10 small-centered columns">
      <% for (var i = 0; i < merchants.length; i++) { %>
        <div>
            <span> <h2><%= merchants[i] %> </h2></span>
            <hr>

        </div>
      <% } %>
      </div>
    </div>

  </body>
</html>
