<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h1><%= title %></h1>
      </div>
    </div>

    <!-- redeem method icon (dynamic based on some list of options - check, credit, giftcard) -->

    <!-- redeem amount (total amount from db) -->
    <div class="row">
      <div class="small-10 small-centered columns">
        <span> <%= "$" + redeemAmount %> </span>
      </div>
    </div>

    <!-- slider to manipulate amount, ranges from 0.01 to redeem amount from db -->
    <div class="row">
      <div class="small-10 small-centered columns">
        <input type="range" min="1" max="<%= redeemAmount %>" />
      </div>
    </div>

    <!-- redeem submit button -->
    <div class="row">
      <div class="small-10 small-centered columns">
        <input type="submit" value="Redeem" />
      </div>
    </div>
  </body>
</html>
