<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <form>
      <label>username</label>
      <input type="text" name="username" />

      <label>username</label>
      <input type="password" name="password" />

      <input type="submit" value="Signup" />
    </form>
  </body>
</html>
